img {
  max-width: 100%;
  vertical-align: middle;
  .project-img &:hover {
    border-radius: 10px;
    // opacity: 0.8; /* 1 = 100%, 0 = 0% */

    /* or the drop-shadow effect */
    
    box-shadow: 0 1px 4px black; /* goes x-axis, y-axis, blur, (stretch factor on x-axis, not used here), colour */
  }
}

.iframeVideo {
	height: 0px;
	padding-top: 25px;
	padding-bottom: 56.2%;
	position: relative;
}
.iframeVideo iframe {
	width: 100%;
	height: 100%;
	position: absolute;
}